*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    margin:0;
    padding:0;
    min-height:100vh;
    overflow:hidden;
    color:#fff;
    position:relative;

    background:url("abcd (20260707085450).jpg") center center/cover no-repeat fixed;
}

/* Dark overlay */
body::after{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.45);
    z-index:0;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
}

.logo{
    color:#2D6A4F;
}

.hero{
    position:relative;
    z-index:1;

    width:100%;
    min-height:100vh;

    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:80px;

    padding:0 8%;

    background:transparent;
}

.hero-image{
    display:flex;
    justify-content:center;
}

.hero-image img{
    width:380px;
    border-radius:20px;
}

.hero-content{
    background:transparent;
}

.hero-content h1{
    font-size:70px;
    margin:10px 0;
}

.hero-content h3{
    color:#2D6A4F;
    margin-bottom:20px;
}

.hero-content p{
    color:#aaa;
    line-height:28px;
    max-width:500px;
    margin-bottom:35px;
}

.btn{
    display:inline-block;
    padding:15px 40px;
    background:#2D6A4F;
    color:#fff;
    text-decoration:none;
    border-radius:40px;
    font-size:16px;
    font-weight:600;
    border:2px solid #2D6A4F;
    transition:all .35s ease;
}

.btn:hover{
    background:#39FF88;
    color:#000;
    border-color:#39FF88;
    transform:translateY(-5px);
    box-shadow:0 0 15px #39FF88,
               0 0 30px #39FF88,
               0 0 60px #39FF88;
}

.btn:active{
    transform:scale(.96);
}